*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  /* footer support */
  position: relative;
  min-height: 100%;
}


body {
  /* background-image: url(images/pianoCover.jpg); */
  background: linear-gradient(rgba(13, 13, 13, 0.5), rgba(19, 19, 19, 0.5)),
    url("../images/pianoCover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* Footer Guide */
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}


/* MAIN */
main {
  flex-grow: 1;
}


button {
  z-index: auto;
}

/* Heading Tags */

h1 {
  color: white;
  text-align: center;
  padding-top: 1.5em;
  font-family: 'Merriweather Sans', sans-serif;
}


h3 {
  font-size: 1.4em;
}

p {
  font-family: 'Montserrat', sans-serif
}

h3 {
  font-weight: 300;
  font-family: "Squada One", cursive;
}



/* Flex Container */
.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 90px 90px;
  grid-template-rows: 90px 90px 90px;

  justify-content: center;
  align-items: center;
  gap: 26px;

  padding-top: 1em;
  margin-right: 1em;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 90px 90px;
  grid-template-rows: 90px;

  justify-content: center;
  align-items: center;
  gap: 26px;

  padding-top: 1.5em;
  margin-right: 1em;
}


.grid-container3 {
  display: none;
}


/* Padding */
.homePadding {
  padding-bottom: 8em;
}




/* Footer */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0.7em;
  background-color: #2b2b2b;
  color: white;
}



/* Images */
.grandPiano {
  width: 17em;
  padding-top: 0.8em;
  display: flex;
}

/* Piano Key */
.key {
  outline: none;
  border: 4px solid #ffe7b7;
  font-size: 1.6rem;
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  line-height: 3;
  font-weight: 900;
  color: #3b2a0a;
  text-shadow: 3px 0 #ffe7b3;
  border-radius: 15px;
  display: inline-block;

  width: 90px;
  height: 90px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* Piano Classes */

.a {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.s {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.d {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.f {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.h {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.j {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.k {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.l {
  background-image: url(../images/pianoIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}


/*  Button */
/* Mobile Responsive */
.myButton {
	box-shadow: 3px 4px 0px 0px #2b2b2b;
	background:linear-gradient(to bottom, #ffe7b7 5%, #ffeecd 100%);
	background-color:#ededed;
	border-radius:12px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3b2a0a;

  font-family: 'Merriweather Sans', sans-serif;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;

  
  margin-top: 2.5em;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
        





/* Tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    text-align: center;
    padding-top: 1.8em;
    font-size: 2em;
  }

  /* Grid Container */
  .grid-container {
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px;

    justify-content: center;
    gap: 28px;
  }

  .grid-container2 {
    grid-template-columns: 130px 130px;
    grid-template-rows: 130px;
    

    justify-content: center;
    align-items: center;
    gap: 26px;
  
    padding-top: 1.5em;
    margin-right: 1em;
  }

  .grid-container3 {
    display: none;
  }

  .grandPiano {
    width: 22em;
    display: flex;
  }

  .key {
    outline: none;
    border: 4px solid #ffe7b7;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    line-height: 4.5;
    font-weight: 900;
    color: #3b2a0a;
    text-shadow: 3px 0 #ffe7b3;
    border-radius: 15px;
    display: inline-block;

    width: 120px;
    height: 120px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }


  
/* Padding */
.homePadding {
  padding-top: 0.5em;
  padding-bottom: 6em;
}

}

/* Desktop */

@media only screen and (min-device-width: 1025px) {
  h1 {
    text-align: center;
    padding-top: 1.4em;
    font-size: 2.2em;
  }




  /* Grid Container */
  .grid-container {
    display: none;
  }
  .grid-container2 {
    display: none;
  }


  .grid-container3 {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 100px 100px;

    justify-content: center;
    gap: 28px;

    padding-top: 1em;
    padding-bottom: 1em;
  }


  /* Image */

  .grandPiano {
    width: 21em;
    display: flex;
  }

  .key {
    outline: none;
    border: 4px solid #ffe7b7;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    line-height: 4;
    font-weight: 900;
    color: #3b2a0a;
    text-shadow: 3px 0 #ffe7b3;
    border-radius: 15px;
    display: inline-block;

    width: 110px;
    height: 110px;
    text-align: center;

    background-color: white;
  }

    
/* Padding */
.homePadding {
  padding-top: 0.5em;
  padding-bottom: 3em;
}
}


/* font-family: 'Knewave', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Squada One', cursive; */